<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'headerfiles.html' %}
</head>
<body>
{% include 'public_header.html' %}
<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="text-center">User Signup</h1>
        <form id="frm_usersignup" method="get">
        <div class="row">
            <div class="form-group">
                <label>Enter Full Name</label>
                <input type="text" name="fullname" id="fullname" class="form-control" data-rule-required="true" data-msg-required="Please Enter FullName">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Enter Mobileno</label>
                 <input type="number" name="mobileno" id="mobileno" maxlength="10" minlength="10" class="form-control" data-rule-required="true" data-msg-required="Please Enter Mobileno">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Enter Address</label>
                <textarea name="address" id="address" class="form-control" data-rule-required="true" data-msg-required="Please Enter Address"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Enter City</label>
                 <input type="text" name="city" id="city" class="form-control" data-rule-required="true" data-msg-required="Please Enter City">
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label>Enter Email ID</label>
                 <input type="email" name="email" id="email" class="form-control" data-rule-required="true" data-msg-required="Please Enter Email ID">
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label>Enter Password</label>
                 <input type="password" name="password" id="password" class="form-control" data-rule-required="true" data-msg-required="Please Enter Password">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Confirm Password</label>
                 <input type="password" name="cpassword" id="cpassword" class="form-control" data-rule-required="true" data-msg-required="Please Enter Confirm Password" data-rule-equalto="#password" data-msg-equalto="Mismatch Password">
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <input type="button" class="btn btn-success" onclick="usersignup()" value="SIGNUP">
            </div>
        </div>
        <span id="sp1"></span>
        </form>
    </div>
</div>
</body>
</html>